.view-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    table {
      font-family: "Times New Roman", Times, serif;
      border-collapse: collapse;
      width: 100%;
    }
  
    th {
      background-color: #dddddd;
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
  
    td {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
  }