.transaction-container{
    display: flex;
    flex-direction: column;
    .transaction-btn-wrapper {
        display: flex;
        justify-content: flex-end;
        .transaction-btn {
          border: 1px solid black;
          border-radius: 5px;
          margin-left: 1400px;
          padding: 1px 50px;
          background-color: rgb(204, 204, 204);
          cursor: pointer;
        }
      }
    .transaction-wrapper{
      display: flex;
      flex-direction: row;
      flex: 1;
      border: 1px solid black;
      border-radius: 5px;
      margin: 20px 10px;
      padding: 10px 10px;
      .car-logo{
        width: 300px;
        height: 180px;
      }
        
    }
}
